.button {
    border: none;
    color: white;
    padding: 0px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

table {
    border-collapse: collapse;
    counter-reset: rowNumber;
}

table tbody tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    /*content: counter(rowNumber);*/
    min-width: 1em;
    margin-right: 0.5em;x
}

th, td {
    /*text-align: center;*/
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.exercises li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.exercises li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
